.settings-container {
  display: flex;
  height: 100vh;
}

.settings-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.settings-sidebar .MuiListItem-root {
  padding: 10px 20px;
  border-radius: 8px;
}

.settings-sidebar .MuiListItem-root:hover {
  background-color: #f0f0f0;
}

.settings-sidebar .MuiDivider-root {
  margin: 10px 0;
}

.settings-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.settings-content p {
  font-size: 16px;
  color: #666;
}
