.foot- {
    margin-top: 250px;
    padding-left: 200px;
  }
  .foot1 {
    text-decoration: none;
    color: lightslategray;
    padding: 20px;
  }
  .foot1:hover {
    opacity: 1;
    text-decoration: underline;
    color: gray;
  }